package vm
import "github.com/danwhitford/golox/value"

{{ range . }}
func (vm *Vm) {{ .OpName }}() error {
    v2, err := vm.Stack.Pop()
    if err != nil {
        return err
    }
    v1, err := vm.Stack.Pop()
    if err != nil {
        return err
    }
    vm.Stack.Push(
        value.NumberVal(v1.AsNumber() {{ .Op }} v2.AsNumber()),
    )

    return nil
}
{{ end }}
